.App{
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-size: 1.9vh;

  --app-theme-cololr: #e1223b;
  --app-apple-gif-card-bg: #000000;
  --app-netflix-gif-card-bg: #d10e16;
  --app-amazon-gif-card-bg: #fe9901;
  --app-prime-gif-card-bg: #05c7ef;
  --app-placeholder-gif-card-bg: #05c7ef;
  --app-grey-color: #b7b7b7;
  --app-light-grey-color: #e6e7ee;

}

.positionRelative{
  position: relative;
}

.positionAbsolute{
  position: absolute;
}

.row{
  display: flex;
  flex-direction: row;
}

.row.reverse{
  flex-direction: row-reverse;
}

.column{
  display: flex;
  flex-direction: column;
}

.column.reverse{
  flex-direction: column-reverse;
}

.row.centerV, .column.centerH{
  align-items: center;
}

.row.centerH, .column.centerV{
  justify-content: center;
}

.row .fillParent, .column .fillParent{
  flex: 1;
}

.textCenter{
  text-align: center;
}

.textVertical{
  writing-mode: vertical-rl;
  -webkit-text-orientation: mixed;
  text-orientation: mixed;
}

.bold{
  font-family: 'Overpass Bold';
}

.superBold{
  font-family: 'Overpass Bolder';
}